.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.007812;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-297.680000px;}
._6{width:42.400000px;}
._1{width:204.034461px;}
._7{width:224.160000px;}
._4{width:283.344000px;}
._5{width:286.886386px;}
._3{width:551.360000px;}
._2{width:714.250461px;}
.fc4{color:rgb(102,58,182);}
.fc0{color:rgb(255,255,255);}
.fc3{color:rgb(0,0,0);}
.fc1{color:rgb(97,0,237);}
.fc2{color:rgb(144,144,144);}
.fs0{font-size:56.000000px;}
.fs6{font-size:64.000000px;}
.fs2{font-size:80.000000px;}
.fs3{font-size:96.000000px;}
.fs1{font-size:168.000000px;}
.fs5{font-size:237.600021px;}
.fs4{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y21{bottom:14.991669px;}
.y11{bottom:17.165571px;}
.y7{bottom:23.586712px;}
.y10{bottom:33.915571px;}
.y6{bottom:40.386712px;}
.yb{bottom:128.086712px;}
.y13{bottom:128.086773px;}
.y20{bottom:129.491486px;}
.ya{bottom:144.886712px;}
.y12{bottom:144.886773px;}
.y15{bottom:201.586712px;}
.y24{bottom:215.586712px;}
.y14{bottom:218.386712px;}
.y2b{bottom:225.854889px;}
.y23{bottom:232.386712px;}
.y17{bottom:239.236706px;}
.y16{bottom:256.036706px;}
.y2a{bottom:273.854889px;}
.y19{bottom:280.086712px;}
.y1f{bottom:283.591431px;}
.ye{bottom:293.901024px;}
.y18{bottom:296.886712px;}
.y1e{bottom:305.757172px;}
.yd{bottom:316.066761px;}
.y29{bottom:321.854889px;}
.y28{bottom:369.854889px;}
.y1{bottom:379.011743px;}
.y27{bottom:417.854889px;}
.yf{bottom:421.087250px;}
.y1c{bottom:422.541962px;}
.y3{bottom:424.411041px;}
.y1d{bottom:461.241974px;}
.y26{bottom:465.854889px;}
.y9{bottom:465.867325px;}
.y2{bottom:474.811043px;}
.y25{bottom:516.552448px;}
.y1b{bottom:555.567642px;}
.yc{bottom:560.162937px;}
.y8{bottom:560.193012px;}
.y22{bottom:561.035999px;}
.y1a{bottom:709.322638px;}
.y4{bottom:709.322645px;}
.y5{bottom:709.552448px;}
.h1{height:40.796875px;}
.h8{height:46.625000px;}
.h3{height:58.281250px;}
.h7{height:63.984375px;}
.h4{height:69.937500px;}
.h2{height:134.367188px;}
.h6{height:190.033611px;}
.h5{height:191.953125px;}
.h0{height:768.000000px;}
.w0{width:1024.000000px;}
.x0{left:0.000000px;}
.x4{left:54.000004px;}
.x6{left:56.883797px;}
.xe{left:108.499992px;}
.x14{left:115.000000px;}
.x13{left:116.550003px;}
.x12{left:118.000000px;}
.xb{left:129.179443px;}
.xc{left:136.227322px;}
.xf{left:160.500000px;}
.x5{left:211.382996px;}
.x19{left:256.000000px;}
.xd{left:284.500000px;}
.x1a{left:303.000000px;}
.x9{left:316.267975px;}
.x7{left:329.000000px;}
.x15{left:342.000031px;}
.x2{left:360.776886px;}
.x3{left:427.550316px;}
.x1{left:440.949997px;}
.x18{left:514.149292px;}
.x8{left:642.130615px;}
.x11{left:700.500000px;}
.xa{left:719.273804px;}
.x17{left:737.579346px;}
.x16{left:820.749298px;}
.x10{left:840.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-396.906667pt;}
._6{width:56.533333pt;}
._1{width:272.045948pt;}
._7{width:298.880000pt;}
._4{width:377.792000pt;}
._5{width:382.515182pt;}
._3{width:735.146667pt;}
._2{width:952.333948pt;}
.fs0{font-size:74.666667pt;}
.fs6{font-size:85.333333pt;}
.fs2{font-size:106.666667pt;}
.fs3{font-size:128.000000pt;}
.fs1{font-size:224.000000pt;}
.fs5{font-size:316.800028pt;}
.fs4{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y21{bottom:19.988892pt;}
.y11{bottom:22.887428pt;}
.y7{bottom:31.448949pt;}
.y10{bottom:45.220762pt;}
.y6{bottom:53.848949pt;}
.yb{bottom:170.782283pt;}
.y13{bottom:170.782364pt;}
.y20{bottom:172.655314pt;}
.ya{bottom:193.182283pt;}
.y12{bottom:193.182364pt;}
.y15{bottom:268.782283pt;}
.y24{bottom:287.448949pt;}
.y14{bottom:291.182283pt;}
.y2b{bottom:301.139852pt;}
.y23{bottom:309.848949pt;}
.y17{bottom:318.982274pt;}
.y16{bottom:341.382275pt;}
.y2a{bottom:365.139852pt;}
.y19{bottom:373.448949pt;}
.y1f{bottom:378.121908pt;}
.ye{bottom:391.868032pt;}
.y18{bottom:395.848949pt;}
.y1e{bottom:407.676229pt;}
.yd{bottom:421.422348pt;}
.y29{bottom:429.139852pt;}
.y28{bottom:493.139852pt;}
.y1{bottom:505.348990pt;}
.y27{bottom:557.139852pt;}
.yf{bottom:561.449666pt;}
.y1c{bottom:563.389282pt;}
.y3{bottom:565.881388pt;}
.y1d{bottom:614.989299pt;}
.y26{bottom:621.139852pt;}
.y9{bottom:621.156433pt;}
.y2{bottom:633.081390pt;}
.y25{bottom:688.736598pt;}
.y1b{bottom:740.756856pt;}
.yc{bottom:746.883916pt;}
.y8{bottom:746.924016pt;}
.y22{bottom:748.047999pt;}
.y1a{bottom:945.763517pt;}
.y4{bottom:945.763527pt;}
.y5{bottom:946.069931pt;}
.h1{height:54.395833pt;}
.h8{height:62.166667pt;}
.h3{height:77.708333pt;}
.h7{height:85.312500pt;}
.h4{height:93.250000pt;}
.h2{height:179.156250pt;}
.h6{height:253.378148pt;}
.h5{height:255.937500pt;}
.h0{height:1024.000000pt;}
.w0{width:1365.333333pt;}
.x0{left:0.000000pt;}
.x4{left:72.000005pt;}
.x6{left:75.845062pt;}
.xe{left:144.666656pt;}
.x14{left:153.333333pt;}
.x13{left:155.400004pt;}
.x12{left:157.333333pt;}
.xb{left:172.239258pt;}
.xc{left:181.636429pt;}
.xf{left:214.000000pt;}
.x5{left:281.843994pt;}
.x19{left:341.333333pt;}
.xd{left:379.333333pt;}
.x1a{left:404.000000pt;}
.x9{left:421.690633pt;}
.x7{left:438.666667pt;}
.x15{left:456.000041pt;}
.x2{left:481.035848pt;}
.x3{left:570.067088pt;}
.x1{left:587.933329pt;}
.x18{left:685.532389pt;}
.x8{left:856.174154pt;}
.x11{left:934.000000pt;}
.xa{left:959.031738pt;}
.x17{left:983.439128pt;}
.x16{left:1094.332397pt;}
.x10{left:1120.666667pt;}
}
